<section class="services-section">
    <div class="section-header">
        <h2>Nossos Serviços</h2>
        <p>Agende agora e aproveite nossos serviços exclusivos</p>
        <a href="https://wa.me/5532988723306?text=Olá%20AlessaHair,%20gostaria%20de%20mais%20informações!" class="btn btn-primary">Agende Agora</a>  
    </div>

    <div class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let item of services; let i = index" [class.active]="i === 0">
                <app-card
                    [title]="item.title"
                    [link]="item.link"
                    [body]="item.description"
                    [srcImage]="item.image" 
                ></app-card>
            </div>
        </div>
    </div>
</section>
