<footer class="footer">
    <div class="footer-content">
        <div class="footer-brand">
            <h2>AlessaHair</h2>
            <p>Transformando sua beleza com dedicação e estilo.</p>
        </div>
      
        <div class="footer-info">
            <div class="contact-info">
                <h3>Contato</h3>
                <p><i class="fa-solid fa-location-dot"></i> R. Santo Antônio, 470 - Centro, Juiz de Fora</p>
                <p><i class="fa-solid fa-phone"></i> (32) 98872-3306</p>
                
            </div>
            <div class="social-media">
                <h3>Siga-nos</h3>
    
                <a href="https://instagram.com/alessahair" target="_blank" class="social-icon"><i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://twitter.com/alessahair" target="_blank" class="social-icon"><i class="fa-brands fa-whatsapp"></i></a>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 AlessaHair. Todos os direitos reservados.</p>
        </div>
    </div>
</footer>