@import '../../../styles/_variables.scss';

.footer {
    background-color: $dark-color;
    color: $primary-color;
    padding: 20px 0;
    font-size: 0.875rem;
    display: flex;

    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;

        .footer-brand {
            text-align: center;
            margin-bottom: 20px;

            h2 {
                font-size: 1.5rem;
                color: $secondary-color;
                margin-bottom: 5px;
            }

            p {
                color: $light-color;
            }
        }

        .footer-nav {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 20px;

            .nav-item {
                margin: 0 15px;

                .nav-link {
                    color: $primary-color;
                    text-decoration: none;
                    transition: color 0.3s ease;

                    &:hover {
                        color: $secondary-color;
                    }
                }
            }
        }

        .footer-info {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 20px;

            .contact-info,
            .social-media {
                flex: 1;
                margin: 10px;

                a {
                    font-size: 20px;
                    padding: 5px;
                    transition: color 0.3s ease;

                    &:hover {
                        color: #fff;
                    }
                }

                h3 {
                    color: $secondary-color;
                    margin-bottom: 10px;
                }

                p,
                .social-icon {
                    color: $light-color;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 0.6rem;

                    i {
                        margin-right: 5px;
                        color: $secondary-color;
                    }
                }
            }
        }

        .footer-bottom {
            text-align: center;

            p {
                color: $light-color;
                margin: 0;
            }
        }
    }
}
