<section class="contact">
    <div class="contact-content">
        <h2>Fale Conosco</h2>
        <p>Deixe a sua Mensagem</p>
        <form #form="ngForm" (ngSubmit)="submit(form)">
            <div class="form-group">
                <input type="text" name="nome" ngModel placeholder="Nome" required>
            </div>

            <div class="form-group">
                <input type="email" name="email" ngModel placeholder="E-mail" required > 
            </div>

            <div class="form-group">
                <input type="tel" name="celular" ngModel placeholder="Celular" required>
            </div>

            <div class="form-group">
                <input type="text" name="cidade" ngModel placeholder="Cidade Origem" required>
            </div>

            <div class="form-group">
                <textarea name="mensagem" ngModel rows="4" placeholder="Mensagem" required></textarea>
            </div>

            <button type="submit" class="btn-submit" >Enviar</button>
        </form>
    </div>
</section>
<app-modal
  *ngIf="showModal"
  [title]="modalTitle"
  [body]="modalBody"
  (close)="closeModal()"
  [autoCloseTime]="3000">
</app-modal>