@import '../../../styles/_variables.scss';

.service-card {
  
    width: 100%;
    height: 450px; 
    background-size: cover;
    background-position: center;
   
    overflow: hidden;
   
    
  }
  video.service-background {
    object-fit: cover; 
  }
  
  .line {
    display: flex;
    height: 2px;
    background: $secondary-color;
    margin: 8px 5px; 
}
  
 
  